* {
    box-sizing: border-box;
}

body {
    background-color: hsl(257, 40%, 49%);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-icon {
    height: auto;
    margin-right: 0.2rem;
}

#logo-name {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0%;
}

.main {
    display: flex;
}

.content {
    font-family: 'Poppins', sans-serif;
}

.description {
    color: #FFF;
}

.description > h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 2.375rem;
}

.description > p {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 1.5rem 0;
}

#register-btn {
    background-color: #FFF;
    color: hsl(257, 40%, 49%);
    border: none;
}

#register-btn:hover {
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
}

.footer{
    position: relative;
}

.social-buttons {
    position: absolute;
}

.social-buttons > button {
    border: none;
    background-color: transparent;
}

.social-buttons > button+button {
    margin-left: .5rem;
}

#fb-button {
    background-image: url('./images/icon-logo-facebook.svg');
    background-size: contain;
}
#fb-button:hover {
    background-image: url('./images/icon-logo-facebook-hover.svg');
}

#twitter-button {
    background-image: url('./images/icon-logo-twitter.svg');
    background-size: contain;
}
#twitter-button:hover {
    background-image: url('./images/icon-logo-twitter-hover.svg');
}

#instagram-button {
    background-image: url('./images/icon-logo-instagram.svg');
    background-size: contain;
}
#instagram-button:hover {
    background-image: url('./images/icon-logo-instagram-hover.svg');
}

@media only screen and (min-width: 1440px) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-repeat: no-repeat;
    }

    .wrapper {
        max-width: 1250px;
        margin: 4rem auto auto auto;
    }

    #logo-icon {
        max-width: 2.8rem;
    }

    #logo-name {
        font-size: 3rem;
    }

    .main {
        margin-top: 4rem;
    }
    
    #mockup {
        margin-right: 3.75rem;
    }

    .description {
        margin-top: 2.5rem;
    }

    #register-btn {
        width: 12.5rem;
        height: 3.5rem;
        font-size: 1rem;
        border-radius: 1.75rem;
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    }

    .social-buttons {
        right: 5rem;
    }

    .social-buttons > button {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url('./images/bg-mobile.svg');
        background-repeat: no-repeat;
    }

    .wrapper {
        margin: 1.6rem 2.5rem auto 2.5rem;
    }

    #logo-icon {
        max-width: 2rem;
    }

    #logo-name {
        font-size: 2rem;
    }

    .main {
        margin-top: 3.4rem;
        flex-flow: column nowrap;
    }
    
    #mockup > img{
        max-width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 3.6rem;
        text-align: center;
    }

    .description > h1 {
        margin-top: 0;
        font-weight: 600;
        font-size: 1.5rem;
    }

    #register-btn {
        width: 12.5rem;
        height: 2.5rem;
        font-size: 0.875rem;
        border-radius: 1.75rem;
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    }

    .footer {
        margin-top: 4rem;
    }

    .footer > .social-buttons{
        left: 50%;
        transform: translate(-50%);
    }
    
    .social-buttons > button {
        width: 1.75rem;
        height: 1.75rem;
    }
}