* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    display: flex;
}

#presentation-space {
    width: 830px;
    height: 800px;
    background-image: url('./images/bg-pattern-desktop.svg'), linear-gradient(135deg, hsl(0, 100%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

#model-mobile {
    display: none;
}

#release-notice > h1 {
    margin: 0;
    padding: 0;
    color: hsl(360, 6%, 24%);
    font-weight: 600;
}
#release-notice > h1::first-line {
    color: hsl(360, 36%, 79%);
    font-weight: 300;
}
#release-notice > p {
    margin: 0;
    padding: 0;
    color:hsla(360, 36%, 70%, 1);
    font-weight: 400;
}

#email-space {
    position: relative;
}

#email-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    border-radius: 28px;
}
#email-input[type="text" i]{
    padding-left: 22px;
}
#email-input::placeholder {
    color: hsla(360, 36%, 70%, 1);
}

.valid-input {
    border: hsla(360, 36%, 70%, 1) 1px solid;
}

#email-space > div {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#error-icon {
    display: none;
}

#error-msg {
    color: hsla(360, 26%, 70%, 1);
    font-size: .875rem;
    margin-left: 22px;
}

#signin-btn {
    border: none;
    height: 100%;
}

.invalid-input {
    border: 2px solid #F96464;
}

.valid-btn {
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.invalid-btn {
    background-image: linear-gradient(270deg, #FADADA 0%, rgba(250, 200, 200, 0) 100%);
}

@media only screen and (min-width: 376px){
    #presentation-space > div {
        margin: 66px 209px 123px 166px;
    }

    #release-notice {
        margin-top: 138px;
    }
    #release-notice > h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    #release-notice > p {
        margin-top: 40px;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0px;
    }

    #email-space {
        margin-top: 50px;
        margin-bottom: 10px;
        width: 455px;
        height: 56px;
    }

    #signin-btn {
        border-radius: 28px;
        width: 100px;
    }

    #email-input {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 375px) {
    #model-desktop {
        display: none;
    }
    #model-mobile {
        display: initial;
    }

    #presentation-space {
        background-image: linear-gradient(135deg, hsl(0, 100%, 100%), hsl(0, 100%, 98%));
        background-repeat: no-repeat;
        background-size: contain;
    }

    #presentation-space > div {
        margin: 0;
    }

    #logo {
        margin: 32px;
    }
    #logo > img {
        width: 102px;
        height: auto;
    }

    #release-notice {
        margin-top: 66px;
        text-align: center;
        padding: 0 32px;
    }
    #release-notice > h1{
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: 4px;
    }
    #release-notice > p {
        margin-top: 28px;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0px;
    }

    #email-space {
        margin: 36px auto;
        width: 310px;
        height: 48px;
    }

    #signin-btn {
        border-radius: 28px;
        width: 64px;
    }

    
    #email-input {
        margin-bottom: 12px;
    }
}