* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body, html {
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    color: hsl(204, 43%, 93%);
}

.centerlized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.2);
}

.topcard {
    flex: 1 100%;
    padding: 40px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topcard h1 {
    color: hsl(179, 62%, 43%);
}
.topcard h3 {
    color: hsl(71, 73%, 54%);
}
.topcard p {
    color: hsl(218, 22%, 67%);
}

.subcard {
    flex: 0.5 50%;
    padding: 40px;
    color: #fff;
}

#left-subcard {
    border-bottom-left-radius: 10px;
    background-color: #2BB3B1;
}

#right-subcard {
    border-bottom-right-radius: 10px;
    background-color: #4ABEBD;
}

div.price > span:nth-child(1) {
    font-size: 2em;
}

div.price > span:nth-child(2) {
    opacity: 0.5;
    margin-left: 10px;
    align-self: center;
}

.btn-sign{
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.price{
    display: flex;
}

div.price > span:nth-child(1) {
    font-size: 2em;
}

div.price > span:nth-child(2) {
    opacity: 0.5;
    margin-left: 10px;
    align-self: center;
}

@media only screen and (max-width: 375px) {
    /* For tablets: */
    .wrapper{
        max-width: unset;
        width: 90%;
    }

    .subcard{
        flex: 1 100%;
    }
    
    #left-subcard  {
        border-bottom-left-radius: unset;
    }
    
    #right-subcard  {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* .centerlized {
        top: 5%;
        left: 5%;
        transform: translate(-5%, -5%);
        top: unset;
        left: unset;
        transform: unset;
    } */
       
}