* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
    margin: 0px;
    padding: 0px;
}

.wrapper {
    max-width: 50%;
    display: flex;
}

.col1 {
    flex: 1;
}

.topcard {
    padding: 40px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.subcard > div {
    padding: 40px;
    z-index: -1;
}

div.subcard > div {
    color: #fff;
}

div.subcard > div:nth-child(1) {
    border-bottom-left-radius: 10px;
    background-color: #2BB3B1;
}

div.subcard > div:nth-child(2) {
    border-bottom-right-radius: 10px;
    background-color: #4ABEBD;
}

.btn-sign{
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.price{
    display: flex;
}

div.price > span:nth-child(1) {
    font-size: 2em;
}

div.price > span:nth-child(2) {
    opacity: 0.5;
    margin-left: 10px;
    align-self: center;
}

@media only screen and (max-width: 375px) {
    /* For tablets: */
    .wrapper{
        max-width: unset;
        width: 90%;
        display: block;
    }
    .col1{
        flex: unset;
        width: 100%;
    }
    div.subcard > div:nth-child(1) {
        border-radius: unset;
    }
    
    div.subcard > div:nth-child(2) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
       
}
/* 
.main-card{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header-card{
    padding: 40px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer-card{
    margin: 0px;
    color: #fff;
    display: flex;
}

#fc1{
    padding: 40px;
    background-color: hsl(179, 61%, 44%);
    height: inherit;
}

#fc2{
    padding: 40px;
    background-color: hsl(179, 47%, 52%);
    height: auto;
}

.top-card{
    padding: 40px;
    width: 554px;
    height: 135px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Karla', sans-serif;
    position: relative;
}

.bottom-cards{
    margin: 0px;
    padding: 0px;
}

.bottom-card{
    margin: 0px;
    padding: 40px;
    height: 180px;
    width: 237px;
    display: block;
    float: left;
    color: #fff;

}
.bottom-cards .bottom-card:first-child{
    border-bottom-left-radius: 10px;
    background-color: #2BB3B1;
}
.bottom-cards .bottom-card:last-child{
    border-bottom-right-radius: 10px;
    background-color: #4ABEBD;
    font-size: 14px;
    line-height: 20px;
}

.btn-sign{
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.price-space{
    margin: 0px 0px 10px 0px;
    padding: 0px;
    display: flex;
}
.price-space span:first-child{
    font-size: 2em;
}
.price-space span:last-child{
    opacity: 0.5;
    align-self: center;
    margin-left: 10px;
}

h3, h1{
    margin-top: 0px;
}

.opac-text {
    opacity: 0.8 ;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
}
 */  


/* 
color: #49A9A8
color: #BED44E
*/